# App
PORT=3000

# MongoDB
MONGO_URL=mongodb://<username>:<password>@<host>:<port>/<database>
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DATABASE=contentr
MONGO_PORT=27017

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=Secret
JWT_EXPIRY=24hr

# Google OAuth
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_ACCESS_SECRET=
GOOGLE_CALLBACK_URL=

# AWS S3
REGION=
BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_KEY_ID=

# OpenAI
OPEN_AI_KEY=
OPEN_AI_TRANSCRIPTION_MODEL=gpt-4o-transcribe
OPEN_AI_CONTENT_GENERATION_MODEL=
